footer {
    position: fixed;
    bottom:0;
    left: 0;
    background-color: var(--nerd-herd-navy);
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 70px;
    column-gap: 40px;
    z-index: 10000;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    column-gap: 40px;
}

footer a {
    color: lightblue;
}

.footer-spacer {
    height: 70px;
}

footer h1 {
    min-width: 180px;
}

.footer-contact-page {
    display: none;
}

@media screen and (width < 1030px){
    .footer-links {
        display: none;
    }
    .footer-contact-page {
        display: block;
        width: 100%;
        text-align: right;
        padding-right: 30px;
    }
}

header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 150px;
    z-index: 10000;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    color: white;
    transition: top 500ms;
    background-color: var(--nerd-herd-navy);
}

header.hide {
    top:-151px;
}

header .header-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .header-logo *{
    padding: 0.5vw;
}

@media screen and (width < 1100px) {
    header .header-logo .text{
        display: none;
    }
}

@media screen and (width < 800px) {
    header .header-logo h1{
        display: none;
    }
}

header .header-logo h1{
    text-align: center;
}

header .header-logo img{
    height: 130px;
}

header .spacer{
    display: flex;
    flex-grow: 1;
}

header > h1 {
    padding-left: 20px;
    font-size: 50px;
}

@media screen and (width < 720px) {
    header .header-nav:not(.show){
        display: none;
    }

    header .header-nav {
        width: 150px;
        position:absolute;
        margin-right:20px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

    .header-dropdown-button {
        width: 150px;
        margin-right: 20px;
    }
}

@media screen and (width >= 720px){
    header .header-nav {
        display: flex;
        justify-content: right;
        column-gap: 50px;
        margin-right: 20px;
    }

    header .header-nav a {
        font-size: 30px;
        color: white;
        text-decoration: none;
        padding: 1pt;
    }

    header .header-nav a:hover {
        transform: scale(1.1);
        transform-origin: center;
    }

    .logo{
        height: 2pt;
    }

    .header-dropdown-button {
        display: none;
    }
}

.header-spacer {
    height: 150px;
}