footer {
    position: fixed;
    bottom:0;
    left: 0;
    background-color: var(--nerd-herd-navy);
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 70px;
    column-gap: 40px;
    z-index: 10000;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    column-gap: 40px;
}

footer a {
    color: lightblue;
}

.footer-spacer {
    height: 70px;
}

footer h1 {
    min-width: 180px;
}

.footer-contact-page {
    display: none;
}

@media screen and (width < 1030px){
    .footer-links {
        display: none;
    }
    .footer-contact-page {
        display: block;
        width: 100%;
        text-align: right;
        padding-right: 30px;
    }
}

header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 150px;
    z-index: 10000;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    color: white;
    transition: top 500ms;
    background-color: var(--nerd-herd-navy);
}

header.hide {
    top:-100px;
}

header.hide .header-logo {
    transform: translateX(-120%);
}

header .header-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: transform 500ms;
}

header .header-logo *{
    padding: 0.5vw;
}

@media screen and (width < 1100px) {
    header .header-logo .text{
        display: none;
    }
}

@media screen and (width < 800px) {
    header .header-logo h1{
        display: none;
    }
}

header .header-logo h1{
    text-align: left;
    font-size: 50px;
    margin: 0;
}

header .header-logo img{
    height: 130px;
    z-index: 200;
}

header .spacer{
    display: flex;
    flex-grow: 1;
    transition: flex-grow 500ms;
}

header.hide .spacer {
    flex-grow: 0;
}

header .header-title > * {
    padding: 0;
}

@media screen and (width < 720px) {
    header .header-nav:not(.show){
        display: none;
    }

    header .header-nav {
        width: 150px;
        position:absolute;
        margin-right:20px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

    .header-dropdown-button {
        width: 150px;
        margin-right: 20px;
    }
}

.header-nav-out {
    display: flex;
    height: 100%;
    align-items: end;
    padding-bottom: 20px;
    transition: padding-bottom 250ms;
}

header.hide .header-nav-out {
    padding-bottom: 0;
}

@media screen and (width >= 720px){
    header .header-nav {
        display: flex;
        justify-content: right;
        column-gap: 50px;
        margin-right: 20px;
    }

    header .header-nav a {
        font-size: 30px;
        color: white;
        text-decoration: none;
        padding: 1pt;
    }

    .logo{
        height: 2pt;
    }

    .header-dropdown-button {
        display: none;
    }
}

.header-spacer {
    height: 150px;
}

header .hide-logo {
    /* display: none; */
    position: absolute;
    left: 5px;
    height: 40px;
    top: -100px;
    transition: top 600ms, opacity 500ms;
    opacity: 0;
}

header.hide .hide-logo {
    /* display: block; */
    top: 105px;
    opacity: 1;
}

.header-thing:hover {
    
}

.header-sub {
    opacity: 0;
    transition: opacity 200ms;
    position: absolute;
    background-color: var(--nerd-herd-navy);
    left: 0;
    padding-top: 10px;
    width: 100%;
    justify-content: space-around;
    /* display: none; */
    display: flex;
}

.header-thing:not(:hover) .header-sub{
    pointer-events: none;
}

header .header-nav .header-sub a {
    font-size: 20px;
}

.header-thing:hover  .header-sub{
    opacity: 1;
}