* {
    font-family: "Poppins", system-ui, sans-serif;
}

body{
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.timeline{
    display: flex;
    flex-direction: column;
    width:10vw;
    height:100vh;
    position: fixed;
}

@media (width<500px) {
    .timeline{
        width: 50px;
    }
}

.timeline button{
    display: flex;
    flex-grow: 1;
}

.scene{
    width: 98.8vw;
    height: 100vh;
}

#red{
    background-color: red;
}
#green{
    background-color: green;
}
#blue{
    background-color: blue;
}