* {
    font-family: "Poppins", system-ui, sans-serif;
}

footer {
    position: fixed;
    bottom:0;
    left: 0;
    background-color: var(--nerd-herd-navy);
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 70px;
    column-gap: 40px;
}

.footer-spacer {
    height: 70px;
}

header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 150px;
    z-index: 10000;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    color: white;
    transition: top 500ms;
    background-color: var(--nerd-herd-navy);
}

header.hide {
    top:-151px;
}

header .header-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .header-logo *{
    padding: 0.5vw;
}

@media (width < 1100px) {
    header .header-logo .text{
        display: none;
    }
}

@media (width < 800px) {
    header .header-logo h1{
        display: none;
    }
}

header .header-logo h1{
    text-align: center;
}

header .header-logo img{
    height: 10vw;
}

header .spacer{
    display: flex;
    flex-grow: 1;
}

header > h1 {
    padding-left: 20px;
    font-size: 50px;
}

header .header-nav {
    width: 60%;
    display: flex;
    justify-content: right;
    column-gap: 50px;
}

header .header-nav a {
    font-size: 30px;
    color: white;
    text-decoration: none;
    padding: 1pt;
}

header .header-nav a:hover {
    transform: scale(1.1);
    transform-origin: center;
}

.header-spacer {
    height: 150px;
}

.logo{
    height: 2pt;
}