* {
    font-family: "Poppins", system-ui, sans-serif;
}

footer {
    position: fixed;
    bottom:0;
    left: 0;
    background-color: var(--nerd-herd-navy);
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 70px;
    column-gap: 40px;
}

.footer-spacer {
    height: 70px;
}

header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 150px;
    z-index: 10000;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    color: white;
    transition: top 500ms;
}

header.hide {
    top:-151px;
}

header > h1 {
    padding-left: 20px;
    font-size: 50px;
}

header .header-img {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--nerd-herd-navy);
    z-index: -1;
}

header .header-nav {
    width: 60%;
    display: flex;
    justify-content: right;
    column-gap: 50px;
}

header .header-nav a {
    font-size: 30px;
    color: lightblue;
}

.header-spacer {
    height: 150px;
}
