html, body {
    background-color: var(--nerd-herd-navy);
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.main-content {
    width: min(600px,calc(100% - 40px));
    min-height: 100%;
}

header {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logo {
    background-color: var(--nerd-herd-blue);
    width: 100%;
    height: 250px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.logo img {
    width: min(200px,40%);
}

.logo div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.logo h1{
    color: white;
    text-align: right;
    font-size: min(40px,5vw);
}

/* body */

.body {
    background-color: white;
    padding-bottom: 20px;
}

.body p {
    margin: 0;
}

#impact-video-div {
    width: 100%;
    aspect-ratio: 640/480;
    background-color: lightgray;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#impact-video {
    width: max(90%,300px);
    aspect-ratio: 640/480;
    height: auto;
}

/* subtabs */

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: white;
    height: 30px;
    border-radius: 40% 40% 0 0;
}

.nav a {
    font-size: 20px;
}


.subtabs {
    position: relative;
}

.subtabs .subtabs-content {
    display:none;
    position: absolute;
    left: 0;
    background-color: rgb(204, 204, 204);
    z-index: 1;
    padding-left: 5px;
    padding-right: 5px;
}

.subtabs:hover .subtabs-content {
    display: block;
}

/* footer */
footer {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: min(600px,calc(100% - 40px));
    overflow-x: scroll;
}

footer img {
    height: 100px;
}

footer a, footer p {
    margin: 0;
}

footer > div:not(:last-child) {
    margin-right: 40px;
}

footer > div > p {
    font-size: 15px;
    font-weight: bold;
}

footer > div > div {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}

footer > div > div > div {
    display: flex;
    flex-direction: column;
}

footer > div > div > div a {
    font-size: 10px;
}