html, body {
    background-color: var(--nerd-herd-navy);
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.main-content {
    width: min(700px,calc(100% - 40px));
    min-height: 100%;
}

header {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logo {
    background-color: var(--nerd-herd-blue);
    width: 100%;
    height: 250px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.logo img {
    width: min(200px,40%);
}

.logo div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.logo h1{
    color: white;
    text-align: right;
    font-size: min(40px,5vw);
}

/* body */

.body {
    background-color: white;
}

.body p {
    margin: 0;
}

#impact-video-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* subtabs */

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: white;
    height: 30px;
}

.nav a {
    font-size: 20px;
}


.subtabs {
    position: relative;
}

.subtabs .subtabs-content {
    display:none;
    position: absolute;
    left: 0;
    background-color: rgb(204, 204, 204);
    z-index: 1;
    padding-left: 5px;
    padding-right: 5px;
    flex-direction: column;
    width: 120px;
}

.subtabs:hover .subtabs-content {
    display: flex;
}

.subtabs .subtabs-content a {
    font-size: 10px;
}

.smallnav {
    display: none;
}

@media screen and (width < 760px){
    .nav {
        flex-direction: column;
        position: fixed;
        top: 0;
        width: fit-content;
        height: 100%;
        justify-content: start;
        left: -100%;
        transition: left 100ms;
    }
    .nav.show {
        left: 0;
    }

    .smallnav {
        display: flex;
        background-color: white;
        justify-content: end;
    }

    .subtabs .subtabs-content {
        position:relative;
        display: flex;
        height: 0;
        overflow-y: hidden;
        transition: height 150ms;
    }

    .subtabs:hover .subtabs-content {
        height: 100px;
    }
}

/* footer */
footer {
    background-color: var(--nerd-herd-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: min(700px,calc(100% - 40px));
    overflow-x: auto;
}

footer img {
    height: 100px;
}

footer a, footer p {
    margin: 0;
    color: white
}

footer > div:not(:last-child) {
    margin-right: 40px;
}

footer > div > p {
    font-size: 15px;
    font-weight: bold;
}

footer > div > div {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

footer > div > div > div {
    display: flex;
    flex-direction: column;
}

footer > div > div > div a {
    font-size: 10px;
}

@media screen and (width < 760px){
    footer{
        flex-direction: column;
    }
}