html, body {
    background-color: var(--nerd-herd-navy);
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.main-content {
    width: min(var(--min-width),calc(100% - 40px));
    min-height: 100%;
}

header {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logo {
    background-color: var(--nerd-herd-blue);
    width: 100%;
    height: 250px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.logo img {
    width: min(200px,40%);
}

.logo div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.logo h1{
    color: white;
    text-align: right;
    font-size: min(40px,5vw);
}

/* body */

.body {
    background-color: white;
    padding-right: 10px;
    padding-left: 10px;
}

.body p {
    margin: 0;
}

.img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    height: 100%;
}

.img-wrapper img{
    border-radius: 10px;
    /* width: 100%; */
    /* height: 100%; */
    width: 100%;

}

@media screen and (width > 1124px){
    .img-wrapper{
        width: 50%;
        height: 100%;
    }
    
    /* .img-wrapper img{ */
        /* width: 70% */
    
    .parag1, .parag2{
        display: flex;
        justify-content: space-around;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .parag1{
        flex-direction: row;
    }

    .parag2{
        flex-direction: row-reverse;
    }

    .parag1 .img-wrapper{
        justify-content: right;
    }

    .parag2 .img-wrapper{
        justify-content: left;
    }

    .parag1 p, .parag2 p{
        width: 50%;
        margin: 5px;
    }

    .body p {
        font-size: x-large;        
        text-align: justify;
    }

    .body{
        padding-left: 50px;
        padding-right: 50px;
    }

    .st-logo{
        position: absolute;
    }

}

#impact-video-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* subtabs */

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    background-color: var(--nerd-herd-blue);
    height: 60px;
    z-index: 2;
    padding-top: 20px;
}

.nav a {
    font-size: 25px;
    /* display: block; */
    /* transform: translateY(10px); */
}

.nav > a{
    transform: translateY(10px);
}

.nav a img {
    /* height: 300%; */
    transform: translateY(-10px);
}

.subtabs {
    position: relative;
}

.subtabs a{
    color: white;
    text-decoration: none;
    height: 20px;
}

.subtabs .subtabs-content {
    display:none;
    position: absolute;
    left: 0;
    background-color: var(--nerd-herd-blue);
    border: 2px solid white;
    z-index: 1;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
}

.subtabs:hover .subtabs-content {
    display: flex;
}

.subtabs .subtabs-content a {
    font-size: 10px;
    color: white;
    text-decoration: none;
}

.smallnav {
    display: none;
}

hr{
    color: black;
    width: 100%;
    margin: 0;
}

.section-spacer {
    height: 10vh;
}


@media screen and (width < 760px){
    .nav {
        flex-direction: column;
        position: fixed;
        top: 0;
        width: fit-content;
        padding-right: 10px;
        height: 100%;
        justify-content: start;
        left: -100%;
        transition: left 100ms;
        border-right: 3px solid white;
    }
    .nav.show {
        left: 0;
    }

    .nav a img {
        width: 100px;
    }

    .smallnav {
        display: flex;
        background-color: var(--nerd-herd-blue);
        justify-content: end;
    }

    .subtabs .subtabs-content {
        position:relative;
        display: flex;
        height: 0;
        overflow-y: hidden;
        transition: height 150ms;
        justify-content: space-evenly;
    }

    .subtabs:not(:hover) .subtabs-content {
        border-width: 0;
    }

    .subtabs:hover .subtabs-content {
        height: 120px;
    }
}

h1{
    margin:0;
}

/* footer */
footer {
    background-color: var(--nerd-herd-blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: min(var(--min-width),calc(100% - 40px));
    overflow-x: auto;
}

footer img {
    height: 100px;
}

footer a, footer p {
    margin: 0;
    color: white
}

footer > div:not(:last-child) {
    margin-right: 40px;
}

footer > div > p {
    font-size: 15px;
    font-weight: bold;
}

footer > div > div {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

footer > div > div > div {
    display: flex;
    flex-direction: column;
}

footer > div > div > div a {
    font-size: 10px;
}

@media screen and (width < 760px){
    footer{
        flex-direction: column;
    }
}